# Set to 1 to display debug logs
DEBUG=0

# Set to 0 to disable thinking
THINK=1

# Space separated list of tools that shouldn't be loaded automatically
# TOOLS_DISABLED="hello dice repl timedate"

# webSearch tool
KAGI_USER_AGENT="Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Mobile Safari/537.36"
KAGI_TOKEN="00000000000.0000000000000000000000000000000000000000-00"